<li><a href="{{ ghost_url_github }}"><i class="fa fa-github"></i>GitHub</a></li>
<li><a href="{{ ghost_url_linkedin }}"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
<li><a href="{{ ghost_url_twitter }}"><i class="fa fa-twitter"></i>Twitter</a></li>